---
spec:
  source:
    repoURL: ${repo_url}
    targetRevision: ${target_revision}

baseDomain: ${base_domain}

argo-cd:
  server:
    config:
      url: https://argocd.apps.${cluster_name}.${base_domain}
      oidc.config: |
        name: Cognito
        issuer: https://cognito-idp.${aws_default_region}.amazonaws.com/${cognito_user_pool_id}
        clientID: ${cognito_user_pool_client_id}
        clientSecret: ${cognito_user_pool_client_secret}
        requestedScopes: ["openid", "profile", "email"]
        requestedIDTokenClaims: {"groups": {"essential": true}}
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - argocd.apps.${base_domain}
        - argocd.apps.${cluster_name}.${base_domain}
      tls:
        - secretName: argocd-secret
          hosts:
            - argocd.apps.${base_domain}
            - argocd.apps.${cluster_name}.${base_domain}

cert-manager:
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: ${cert_manager_assumable_role_arn}
  clusterIssuers:
    letsencrypt:
      enabled: true
    acme:
      solvers:
        - dns01:
            route53:
              region: ${aws_default_region}

kube-prometheus-stack:
  alertmanager:
    service:
      targetPort: 9095
    alertmanagerSpec:
      containers:
        - args:
            - --http-address=0.0.0.0:9095
            - --upstream=http://localhost:9093
            - --provider=oidc
            - --oidc-issuer-url=https://cognito-idp.${aws_default_region}.amazonaws.com/${cognito_user_pool_id}
            - --client-id=${cognito_user_pool_client_id}
            - --client-secret=${cognito_user_pool_client_secret}
            - --cookie-secure=false
            - --cookie-secret=${cookie_secret}
            - --email-domain=*
            - --redirect-url=https://alertmanager.apps.${cluster_name}.${base_domain}/oauth2/callback
          image: quay.io/pusher/oauth2_proxy:v6.1.1
          name: alertmanager-proxy
          ports:
            - containerPort: 9095
              name: web
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - alertmanager.apps.${base_domain}
        - alertmanager.apps.${cluster_name}.${base_domain}
      tls:
        - secretName: alertmanager-secret
          hosts:
            - alertmanager.apps.${base_domain}
            - alertmanager.apps.${cluster_name}.${base_domain}

  prometheus:
    service:
      port: 9091
      targetPort: 9091
      additionalPorts:
        - name: web
          port: 9090
          targetPort: 9090
    prometheusSpec:
      portName: proxy
      containers:
        - args:
            - --http-address=0.0.0.0:9091
            - --upstream=http://localhost:9090
            - --provider=oidc
            - --oidc-issuer-url=https://cognito-idp.${aws_default_region}.amazonaws.com/${cognito_user_pool_id}
            - --client-id=${cognito_user_pool_client_id}
            - --client-secret=${cognito_user_pool_client_secret}
            - --cookie-secure=false
            - --cookie-secret=${cookie_secret}
            - --email-domain=*
            - --redirect-url=https://prometheus.apps.${cluster_name}.${base_domain}/oauth2/callback
          image: quay.io/pusher/oauth2_proxy:v6.1.1
          name: prometheus-proxy
          ports:
            - containerPort: 9091
              name: web
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - prometheus.apps.${base_domain}
        - prometheus.apps.${cluster_name}.${base_domain}
      tls:
        - secretName: prometheus-secret
          hosts:
            - prometheus.apps.${base_domain}
            - prometheus.apps.${cluster_name}.${base_domain}

  grafana:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - grafana.apps.${base_domain}
        - grafana.apps.${cluster_name}.${base_domain}
      tls:
        - secretName: grafana-secret
          hosts:
            - grafana.apps.${base_domain}
            - grafana.apps.${cluster_name}.${base_domain}

traefik:
  ports:
    web:
      hostPort: 80
    websecure:
      hostPort: 443
  service:
    type: NodePort
