.terraform/
terraform.tfstate.d/
Chart.lock
charts/
public/
node_modules
package-lock.json
tests/*/terraform/outputs.json
tests/*/terraform/kubeconfig.yaml
tests/*/terraform/terraform.tfstate*
tests/*/terraform/.terraform.lock.hcl
.DS_STORE
tests/*/.terraform.lock.hcl
tests/*/kubeconfig.yaml
tests/*/terraform.tfstate
tests/*/terraform.tfstate.backup
examples/*/.terraform
examples/*/terraform.tfstate
examples/*/terraform.tfstate.*
examples/*/.terraform.tfstate.lock.info
examples/*/*-config
examples/*/.terraform.lock.hcl
