.terraform/
terraform.tfstate.d/
Chart.lock
charts/
public/
node_modules
package-lock.json
.DS_STORE
examples/*/secrets.yml
examples/*/terraform.tfstate*
examples/*/.terraform.lock.hcl
examples/*/kubeconfig.yml
examples/*/issue.txt
**/*.swp
