site:
  title: DevOps Stack
  # the 404 page and sitemap files only get generated when the url property is set
  url: https://devops-stack.io/docs/
  start_page: devops-stack::index.adoc
content:
  sources:
  - url: ./
    branches: HEAD
    start_path: docs
  - url: https://github.com/camptocamp/antora-ui.git
    branches: ['master']
    start_path: docs
ui:
  bundle:
    url: https://github.com/camptocamp/antora-ui/releases/download/LATEST/ui-bundle.zip
    snapshot: true
  supplemental_files:
  - path: ui.yml
    contents: |
      static_files: [ .nojekyll ]
  - path: .nojekyll
