---
variables:
  ARGOCD_VERSION: "1.7.12"
  TERRAFORM_VERSION: "0.14.6"
  CAMPTOCAMP_DEVOPS_STACK_VERSION: "0.25.0"
  TF_ROOT: terraform

stages:
  - terraform
  - argocd

###
# Pipeline for Merge Requests
#

mr:terraform:plan:
  stage: terraform
  image:
    name: hashicorp/terraform:$TERRAFORM_VERSION
    entrypoint: [""]
  variables:
    TF_WORKSPACE: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  before_script:
    - wget https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64 -O /tmp/jq
    - chmod +x /tmp/jq
    - export PATH="/tmp:$PATH"
  script:
    - cd "$TF_ROOT"
    - terraform init
    - terraform plan -out plan
    - terraform show -json plan | jq -r '.planned_values.outputs' > outputs.json
  artifacts:
    paths:
      - "$TF_ROOT/outputs.json"
    expire_in: 1 hour
    when: always
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

mr:argocd:diff:
  stage: argocd
  image:
    name: argoproj/argocd:v${ARGOCD_VERSION}
  script:
    - python3 -c "import urllib.request; print(urllib.request.urlopen('https://raw.githubusercontent.com/camptocamp/camptocamp-devops-stack/v$CAMPTOCAMP_DEVOPS_STACK_VERSION/scripts/app-diff.sh').read().decode())" | bash
  needs:
    - job: mr:terraform:plan
      artifacts: true
  allow_failure: true
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

###
# Pipeline for Protected Branches
#

pb:terraform:apply:
  stage: terraform
  image:
    name: hashicorp/terraform:$TERRAFORM_VERSION
    entrypoint: [""]
  variables:
    TF_WORKSPACE: $CI_COMMIT_REF_NAME
  script:
    - cd "$TF_ROOT"
    - terraform init
    - terraform apply --auto-approve
    - terraform plan --detailed-exitcode
    - terraform output -json > outputs.json
  environment:
    name: cluster/$CI_COMMIT_REF_NAME
    on_stop: pb:terraform:destroy
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'

###
# On-stop action for Gitlab CI environment
#

pb:terraform:destroy:
  stage: terraform
  image:
    name: hashicorp/terraform:$TERRAFORM_VERSION
    entrypoint: [""]
  variables:
    TF_WORKSPACE: $CI_COMMIT_REF_NAME
  script:
    - cd "$TF_ROOT"
    - terraform init
    - terraform destroy --auto-approve
    - if [ "$TF_WORKSPACE" != "default" ]; then WORKSPACE="$TF_WORKSPACE"; unset TF_WORKSPACE; terraform workspace select default; terraform workspace delete "$WORKSPACE"; fi
  environment:
    name: cluster/$CI_COMMIT_REF_NAME
    action: stop
  allow_failure: true
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      when: manual
