---
variables:
  ARGOCD_VERSION: "1.7.12"
  TERRAFORM_VERSION: "0.13.6"
  CAMPTOCAMP_DEVOPS_STACK_VERSION: "0.24.0"

stages:
  - terraform
  - argocd

###
# Pipeline for Merge Requests
#

mr:terraform:plan:
  stage: terraform
  image:
    name: hashicorp/terraform:$TERRAFORM_VERSION
    entrypoint: [""]
  variables:
    CLUSTER_NAME: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  script:
    - wget -O- "https://raw.githubusercontent.com/camptocamp/camptocamp-devops-stack/v$CAMPTOCAMP_DEVOPS_STACK_VERSION/scripts/plan.sh" | sh
  artifacts:
    paths:
      - terraform/outputs.json
    expire_in: 1 hour
    when: always
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

mr:argocd:diff:
  stage: argocd
  image:
    name: argoproj/argocd:v${ARGOCD_VERSION}
  script:
    - python3 -c "import urllib.request; print(urllib.request.urlopen('https://raw.githubusercontent.com/camptocamp/camptocamp-devops-stack/v$CAMPTOCAMP_DEVOPS_STACK_VERSION/scripts/app-diff.sh').read().decode())" | bash
  needs:
    - job: mr:terraform:plan
      artifacts: true
  allow_failure: true
  rules:
    - if: '$CI_MERGE_REQUEST_ID'

###
# Pipeline for Protected Branches
#

pb:terraform:apply:
  stage: terraform
  image:
    name: hashicorp/terraform:$TERRAFORM_VERSION
    entrypoint: [""]
  variables:
    CLUSTER_NAME: $CI_COMMIT_REF_NAME
  script:
    - wget -O- "https://raw.githubusercontent.com/camptocamp/camptocamp-devops-stack/v$CAMPTOCAMP_DEVOPS_STACK_VERSION/scripts/provision.sh" | sh
  environment:
    name: cluster/$CI_COMMIT_REF_NAME
    on_stop: pb:terraform:destroy
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'

###
# On-stop action for Gitlab CI environment
#

pb:terraform:destroy:
  stage: terraform
  image:
    name: hashicorp/terraform:$TERRAFORM_VERSION
    entrypoint: [""]
  variables:
    CLUSTER_NAME: $CI_COMMIT_REF_NAME
  script:
    - wget -O- "https://raw.githubusercontent.com/camptocamp/camptocamp-devops-stack/v$CAMPTOCAMP_DEVOPS_STACK_VERSION/scripts/destroy.sh" | sh
  environment:
    name: cluster/$CI_COMMIT_REF_NAME
    action: stop
  allow_failure: true
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      when: manual
