---
name: "publish-antora-docs"

on:
  pull_request:
    paths:
    - "docs/**"

  workflow_call:

  workflow_dispatch:

jobs:
  publish:
    name: "Publish Antora documentation"

    runs-on: "ubuntu-latest"

    steps:
    - name: "Check out repository"
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Fetch all branches and tags

    - name: "Build documentation with Antora"
      uses: docker://ghcr.io/camptocamp/devops-stack-antora:v3
      with:
        args: generate antora-playbook.yml --to-dir public/docs

    - name: "Upload generated artifact"
      if: github.event_name == 'pull_request'
      uses: actions/upload-artifact@v3
      with:
        name: documentation
        path: ${{ github.workspace }}/public/docs

    - name: "Deploy documentation to GitHub Pages"
      if: github.ref_name == 'master' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'workflow_call')
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        branch: gh-pages
        folder: public/docs
        target-folder: docs
        commit-message: "ci: publish documentation for ${{ github.sha }}"
